/* wildcard */
* {
    font-family: "Raleway", "sans-serif";
}

a {
    color: inherit;
    text-decoration: none;
}

/* BODY */
.wrapper {
    padding: 0 2rem;
}

.wrapper h1, .wrapper p {
    margin-bottom: 1rem;
}